#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.btn {
  background-color: rgba(255, 0, 0, 0.6);
}

.country {
  display: inline-block;
  border-radius: .5rem;
  border: black solid 1px;
  width: 16rem;
  margin: 1em;
}

.country > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 1px solid;
  padding: .35rem;
  background: #efefef;
}

.country > .header > div {
  margin-left: 1em;
  text-align: left;
}

.medal > div button {
  margin: 1rem;
  background-color: #efefef;
}